.main-container {
    display: flex;
    gap: 20px;

}

.filter-section {
    width: 450px;
    border-right: 2px solid #ddd; /* This creates the vertical line */
    padding-right: 20px;
    height: 100vh; /* line height base on header height */
}

.book-list-section {
    flex: 1;
    padding-left: 20px;
}